<style>
  font {

  }
  .heading-image {
    height: 50%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
</style>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div>
  <img alt="gym" src="https://pbs.twimg.com/profile_banners/3197691397/1431792836/1500x500" class="heading-image">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">


      <h4>OnGymand is a fitness start-up centered around helping business travelers maintain their weekly workout routine without interuption. When you're on the road and you need to get a workout in, you're often limited to whatever facilities are provided by the hotel.
      <br>
      <br>
      <b>OnGymand changes that.</b>
      <br>
      <br>
      We are a web application that allows you to find gyms near you with the exact facilities and equipment you need.
      <br>
      <br>
      Simply log in, select what you're looking for, and receive a list of nearby facilities with daily rates.
      <br>
      <br>
      <b>Quick, convenient, fitness.</b></h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <a class="btn btn-danger btn-lg" href="/gyms" role="button">Find a Gym</a>
      <a class="btn btn-danger btn-lg" href="/gyms/new" role="button">Register a Gym</a>
    </div>
  </div>
</div>

